
/*
* {
    border: solid 1px;
  }
  */

  html,body{  
    margin: 0; 
    padding: 0;    
    height: 100%;   
  }
  
  #root {  
    position: relative;
    width: 100%;
    height:100%;   
    
  }

  .main{    
    position: relative;
    width: 100%;
    height:100%;        
  }

 .top{   
    position: relative; 
    width: 100%;
    height:100%;      
  }

  .landingvideobg{
    width: 100%;
    height:100%;
    position: absolute;     
    background-color: black;
    z-index: -3; 
  }
  
  .landingvideo {
    position: absolute;     
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;   
    z-index: -2;
  }

  .landing {   
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
    width: 600px;
    height: 150px;      
    font-family: Gugi;
    font-size: 141px;
    text-align:center;
    color:#ffffff;   
  }

  .landing::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    border-radius: 20px;   
    bottom: 0;
    border-top: solid 40px rgba(255, 138, 95, 0.8);
    z-index: -1;
  }
  
  .sublanding{  
    height: 49px;
    font-size: 45px;
  }
  
  .line {
    width: 600px;
    height: 47px;
    border-radius: 20px;   
    z-index:-1;
    margin-top: -60px;
  }

  .content{    
    position: relative;  
    width: 100%;
    height:100%;   
  }

  